body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Roue Noel.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

#editButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

#spinButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ff6666;
    color: white;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Style pour le popup */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h3 {
    margin-top: 0;
}

#prizeList {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#prizeList li {
    margin-bottom: 10px;
}

#prizeList input {
    width: 100%;
    padding: 5px;
}
